
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&family=MuseoModerno&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}

/* HEADER */

.title{
    display: flex;
    background-image: linear-gradient(to bottom, rgb(189, 212, 229) , white);
    justify-content: center;
    align-items: center;
}
.title__section{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center ;
    border-radius: 5px;
    padding: 1rem;
    width: 50%;
    position: relative;
}
.title__title{
    font-family: 'MuseoModerno', cursive;
    font-size: 2.5rem;
}
.title__img{
    position: absolute;
    right: 0;
    max-width: 110px;
    padding: 1rem;
    max-width: 7rem
}

/* Navigation bar*/

.menu{
    background-color: rgb(225, 235, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.menu__bar{
    background-color: white;
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0.5rem;
    border-radius: 5px;
}
.menu__button{
    font-family: 'MuseoModerno', cursive;
    background-color: white;
    border-style: none;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1.25rem;
}
.menu__button:hover{
    font-weight: 600;
}
.menu__mobile{
    background-color: white;
    margin: 0.5rem;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px lightgray;
    display: none;
}




/* rooms */
.room{
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px  lightgray;
}
.room__section{
    background-color: white;
}
.room__img{
    width: 100%;
}
.room__info{
    background-color: white;
}
.room__title{
    font-family: 'MuseoModerno', cursive;
    font-size: 1.25rem;
    padding: 1rem;
}
.room__text{
    font-family: 'Inria Serif', serif;
    font-size: 1rem;
    padding: 1rem;
}
.room__prise{
    display: flex;
    padding: 1rem;
    font-family: 'Inria Serif', serif;
    font-size: 1rem;
}
.room__button{
    font-family: 'MuseoModerno', cursive;
    background-color: rgb(102, 156, 196, 1);
    border-style: none;
    border-radius: 10px;
    font-size: 1rem;
    margin: 0.5rem;
    color: white;
    padding: 0.5rem;
    margin-left: auto;
    box-shadow: 1px 1px 1px 1px lightgray;
}
.room__button:hover{
    font-weight: 600;
}

/* type of room */

.type{
    display: flex;
    flex-direction: column;
    background: rgba(225, 235, 243, 1);
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px lightgrey;
}
.type__title{
    font-family: 'MuseoModerno', cursive;
    font-size: 1.25rem;
    padding: 1rem;
}
.type__img{
    width: 100%;
}
.type__info{
    font-family: 'Inria Serif', serif;
    font-size: 1rem;
    padding: 1rem;
}
/* footer */

.footer{
    background-color: rgb(189, 212, 229);
    display: flex;
    justify-content: space-around;
}
.footer__title{
    font-family: 'MuseoModerno', cursive;
    font-size: 1.25rem;
    padding: 1rem;
}
.footer__text{
    display: flex;
    flex-direction: column;
    font-family:  'MuseoModerno', cursive;
    font-size: 1rem;
    padding: 1rem;
}

/* book bigbutton */
.book{
    background-color: rgb(189, 212, 229);
    display: flex;
    justify-content: center;
    align-content: center;
}
.book__article{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px lightgray;
    margin: 1rem;
}
.book__title{
    font-family: 'MuseoModerno', cursive;
    font-size: 1.25rem;
    font-weight: 400;
    padding-left: 0.5rem;
}
.book__title:hover{
    font-weight: 600;
}
.book__img{
    padding: 1rem;
}
.book__a{
    text-decoration: none;
    color: black;
}

/* header two  */
.secondTitle{
    display: flex;
    background-image: linear-gradient(to bottom, rgb(189, 212, 229) , white);
    justify-content: center;
    align-items: center;
}
.secondTitle__title{
    font-family: 'MuseoModerno', cursive;
    font-size: 1.25rem;
    padding: 1rem;
}

/* default button */
.button{
    font-family: 'MuseoModerno', cursive;
    background-color: rgb(102, 156, 196, 1);
    border-style: none;
    border-radius: 10px;
    font-size: 1rem;
    margin: 0.5rem;
    color: white;
    padding: 0.5rem;
    box-shadow: 1px 1px 1px 1px lightgray;
}
.button:hover{
    font-weight: 600;
}

/* inputfield */
.input__field[type=number]{
    border: 2px solid rgb(102, 156, 196, 1);
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    font-family: 'MuseoModerno', cursive;
}


