*{
    box-sizing: border-box;
    margin: 0;
}

.mainRooms{
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.booking{
    grid-column: 1 /span 8;
}
.room{
    grid-column: auto/span 4 ;
}
.room:nth-child(6){
    grid-column: 3/ 7;
}
@media screen and (max-width: 580px) {
    .room{
        grid-column: 1 /span 8;
    }
    .room:nth-child(6){
        grid-column: 1/span 8
    }
    .booking__calender{
        flex-direction: column;
    }
    
}
